---
import InfiniteGameScroll from "../components/InfiniteGameScroll";
import Layout from "../layouts/Layout.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
---

<Layout title="Compatibilty">
  <main class="container text-secondary dark:text-primary">
    <section>
      <div class="grid items-center justify-center pb-1 text-center">
        <h1 class="text-4xl font-bold">Game Compatibility Search</h1>
        <p>
          Search the compatibility list for the game you want.<br />
           Use first (max 12) characters of game title.
        </p>
      </div>
    </section>
    <section>
      <InfiniteGameScroll client:only="solid-js" />
    </section>
  </main>
  <ScrollToTop />
</Layout>
