---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQ">
  <main>
    <section>
      <article class="text-secondary dark:text-primary">What the FAQ</article>
    </section>
  </main>
</Layout>
