---
import Navigation from "../components/Navigation.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <header class="sticky top-0 z-50 w-screen">
    <Navigation>
      <li class="text-center font-bold">
        <a href="/blog">Blog</a>
      </li>
      <li class="text-center font-bold">
        <a href="/downloads/">Download</a>
      </li>
      <li class="text-center font-bold">
        <a href="https://steadfast-series.pages.dev/">Docs</a>
      </li>
      <li class="text-center font-bold lg:px-3">
        <a href="/compatibility">Compatibility</a>
      </li>
      <li class="text-center font-bold">
        <a href="https://www.patreon.com/yuzuteam">Patreon</a>
      </li>
      <li class="text-center font-bold">
        <a href="https://profile.yuzu-emu.org/">Profile</a>
      </li>
    </Navigation>
  </header>
  <body>
    <slot />
  </body>

  <style is:global>
    :root {
      --action-color: rgb(25, 25, 25);
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
      --bg-primary: 33, 33, 33;
      --bg-secondary: 35, 54, 59;
      --bg-tertiary: 45, 45, 45;

      --text-primary: 100, 116, 139;
      --text-secondary: 248, 250, 252;
      --text-tertiary: 255, 255, 255;

      --text-link: 3, 169, 244;
    }
    * {
      box-sizing: border-box;
    }
    html {
      scroll-padding-top: 20rem;
      text-rendering: optimizeLegibility;
      text-size-adjust: 100%;
    }
    body {
      @apply bg-secondary dark:bg-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow-x: hidden;
      left: calc((100vw - 100%) / 2);
      margin-right: auto;
      margin-left: auto;
    }
    i {
      font-family: "FontAwesome", normal;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
    input:invalid {
      outline-color: #ef4444;
    }
    input:valid:not(:placeholder-shown) {
      outline-color: #44ef44;
    }
    .fa,
    .fab,
    .fas {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display, inline-block);
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1;
      text-rendering: auto;
    }
  </style>


</html>
